.top
  %h2
    Shhhh... This website is a secret, so don't tell Kelly!
  .instruction
    Elephants are Kelly's favorite animal, so here is a website for you to send her a nice wedding message.
    %br
    Write your message to Kelly in the box below, and click preview to see it on the elephant.
    %br
    When you're done, download the photo and send it to me at solomon.kahn at gmail.com.
    %br
    Make sure to sign your name, so she knows who it's from. I will give her the messages on our wedding night.

.left
  %canvas#e{:width => '450', :height => '450'}

.right
  %form#message
    %textarea.message

  %a.add{:href => "javascript:void(0)"}
    Preview
  %a.clear{:href => "javascript:void(0)"}
    Clear
  %a.new_eli{:href => "javascript:void(0)"}
    New Elephant
  -#%img{ :src => "http://www.personal.psu.edu/afr3/blogs/SIOW/elephant.jpg", :class => 'pic' }

%a.download{:href => "javascript:void(0)"}
  Download
