%h2
  Set up your Eli Message 

.left
  %canvas#e{:width => '450', :height => '450'}

.right
  %form#message
    %textarea.message

  .add
    add this message
  .clear
    Clear the message
  -#%img{ :src => "http://www.personal.psu.edu/afr3/blogs/SIOW/elephant.jpg", :class => 'pic' }
