!!! 5
%html
  %head
    %title EliMessage | Send a message with an eli!

  %body
    %h1
      %a{ :href => '/' } Eli Message

      = yield

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="javascript.js"></script>
